* {
  box-sizing: border-box;
  font-family: ContentFont;
}

.faded_preview {
  animation: faded-preview 1s;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: $PRIMAMY-COLOR !important;
}

hr {
  width: 100%;
}

.fix-size {
  max-width: 845px;
  margin: 0 auto;
}
.fix-rs {
  display: flex;
  height: 100%;
  max-width: 1520px;
  margin: 0 auto;
  @include mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  @include tablet {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  @include middle {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.hh-label {
  h3 {
    @include title-styles;
    @include mobile {
      height: 60px;
      font-size: 36px;
      background-size: cover;
    }
    @include tablet {
      height: 60px;
      font-size: 36px;
      background-size: cover;
    }
  }
}
.hh-roadmap {
  @include title-styles;
  position: relative;
  img {
    position: absolute;
    top: 10%;
    width: 600px;
    @include mobile {
      width: 260px;
    }
    @include tablet {
      width: 260px;
    }
  }
  @include mobile {
    height: 60px;
    background-size: cover;
  }
  @include tablet {
    height: 60px;
    background-size: cover;
  }
}
.hh-news {
  display: flex;
  justify-content: center;
  align-items: center;
  //
  font-family: titleFont;
  text-shadow: $SHADOW;
  font-size: 90px;
  color: $YELLOW-COLOR;
  height: 152px;
  text-align: center;
  @include tablet {
    height: 100px;
  }
  @include mobile {
    height: 60px;
  }
}
.hh-news-banner {
  width: 362px;
  position: relative;
  @include middle {
    width: 280px;
  }
  @include tablet {
    width: 270px;
  }
  img {
    @include tablet {
      width: 60%;
    }
    @include mobile {
      width: 40%;
    }
    width: 100%;
  }
  @include mobile {
    margin-top: 0 !important;
  }
  h3 {
    @include middle {
      font-size: 45px;
    }
    @include tablet {
      font-size: 32px;
    }
    @include mobile {
      font-size: 20px;
    }
    font-size: 70px;
    position: absolute;
    font-family: titlefont;
    top: 59%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.hh-label-frames {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  img {
    width: 450px;
    @include tablet {
      width: 300px;
    }
    @include mobile {
      width: 300px;
    }
  }
  h3 {
    position: absolute;
    @include title-styles-frames;
    @include tablet {
      font-size: 30px;
    }
    @include mobile {
      font-size: 30px;
    }
  }
}
.character-section {
  height: 100vh;
  @include middle {
    height: 800px;
  }
  @include tablet {
    height: 800px;
  }
  @include mobile {
    height: 500px;
  }
  &__container {
    width: 100%;
    height: 100%;
    background-image: url("/static/assets/img/bg.png");
    background-size: 1920px;
    background-repeat: no-repeat;
    background-position: center;
    @include overload {
      background-size: contain;
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc(100vh - 100px);
    }
    @include middle {
      display: flex;
      align-items: center;
      background-size: cover;
    }
    @include tablet {
      height: 100vh;
    }
    @include mobile {
      height: 100%;
      padding-bottom: 65px;
    }
  }

  &__content {
    max-width: 1520px;
    height: auto;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    @include overload {
      align-items: center;
      display: flex;
      justify-content: center;
    }
    @include middle {
      justify-content: center;
    }
    @include tablet {
      height: 100vh;
      justify-content: center;
      align-items: center;
    }
    @include mobile {
      height: 100%;
      align-items: center;
    }
  }

  &__preview {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    max-width: 100%;
    max-height: 100%;
    min-width: 359px;

    @include middle {
      width: 50%;
      min-width: 0px;
    }
    @include tablet {
      width: 50%;
      height: 100%;
      padding: 5px;
      min-width: 0;
    }
    @include mobile {
      width: 100%;
      height: 100%;
      padding: 5px;
      min-width: 0;
    }
    img {
      width: 70%;
      height: auto;
      @include middle {
        width: 70%;
      }
      @include tablet {
        width: 100%;
      }
      @include mobile {
        width: 90%;
        height: auto;
      }
    }
  }
}
.fullImage {
  img {
    width: 100% !important;
    height: auto;
  }
}

.hh-slider {
  max-width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablet {
    max-width: 40% !important;
    justify-content: center;
  }
  @include mobile {
    height: 100%;
    width: 50% !important;
    justify-content: center;
  }
  .slick-arrow {
    display: none !important;
  }

  .slick-slider {
    > div {
      display: flex;
      justify-content: center;
    }
  }
  .slick-track {
    > div {
      display: flex;
      justify-content: center;
    }
  }
  .item-slider {
    width: 180px !important;
    height: 130px;
    @include tablet {
      width: 120px !important;
      height: 100%;
    }
    @include mobile {
      width: 80px !important;
      height: 100%;
    }
    img {
      margin: auto;
      height: 100%;
      width: 100%;
    }
  }
  .btn-arrow {
    width: 135px;
    margin: 12px 0;
    border: none;
    background: transparent;
    img {
      max-width: 100%;
    }
    @include tablet {
      width: 120px;
    }
    @include mobile {
      width: 90px;
    }
  }
  .btn-prev {
    img {
      transform: rotate(180deg);
    }
  }
}
.carousel-slide {
  margin: 125px auto !important;
  height: 350px !important;
  position: relative;
  display: flex;
  flex-direction: row;
  .btn-arrow {
    width: 150px;
    margin: 12px 0;
    border: none;
    background: transparent;
    @include tablet {
      width: 100px;
      height: 185px;
    }
    @include mobile {
      width: 100px;
      height: 185px;
    }
    img {
      max-width: 100%;
    }
    z-index: 3;
  }
  .btn-prev {
    img {
      transform: rotate(90deg);
    }
  }
  .btn-next {
    img {
      transform: rotate(270deg);
    }
  }
  &:before {
    width: 280px;
    height: 330px;
    position: absolute;
    left: 50%;
    z-index: 99;
    transform: translate(-50%, -50%);
    background-image: url("/static/assets/img/special-mode/before-special-mode.png");
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
    @include tablet {
      width: 200px;
    }
    @include mobile {
      top: 15%;
      width: 200px;
    }
  }
}
.section-special-mod {
  @include overload {
    background-size: cover;
    height: 100vh;
  }
  @include middle {
    height: 100vh;
    background-size: cover;
  }
  @include tablet {
    display: flex;
    align-items: center;
    height: 100vh;
  }
  @include mobile {
    height: 500px;
  }
  padding-top: 60px;
  width: 100%;
  height: 800px;
  max-width: 1920px;
  margin: 0 auto;
  background-image: url("/static/assets/img/bg.png");
  background-size: cover;
  // background-repeat: no-repeat;
  background-position: center;

  .carousel-slide {
    width: 95% !important;
    @include overload {
      height: 100vh !important;
      align-items: center;
      margin: 0 auto !important;
    }
    @include mobile {
      width: 100% !important;
    }
    @include tablet {
      width: 100% !important;
    }
    > div {
      margin: 0 auto;
      @include mobile {
        height: 200px !important;
      }
      @include tablet {
        height: 200px !important;
      }
    }
    > div {
      > div {
        @include middle {
          height: 100%;
        }
        @include tablet {
          height: 300px;
        }
        @include mobile {
          height: 100%;
        }
        height: 460px;
      }
      > img {
        width: 800px !important;
        @include mobile {
          width: 225px !important;
        }
        @include tablet {
          width: 225px !important;
        }
      }
    }
  }
}

// BUILD SECTION
.section-build {
  background-image: url("/static/assets/img/bg.png");
  background-size: 1920px;
  background-repeat: no-repeat;
  background-position: center;
}
.build-section-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  .build-section__item {
    margin: 40px 0;
    width: 380px;
    height: 142px;
    @include mobile {
      width: 100%;
      margin: 15px 0;
      height: 60px;
      justify-content: flex-end;
    }
  }
  .build-section-center {
    @include mobile {
      width: 30%;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: auto;
    .build-section__item_center {
      img {
        @include mobile {
          width: 30px;
        }
      }
    }
    img {
      display: flex;
      margin: auto;
      width: 100%;
      @include mobile {
        width: 50%;
      }
      @include tablet {
        width: 50%;
      }
    }
    h4 {
      color: white;
      font-size: 50px;
      font-weight: bold;
      text-align: center;
      @include mobile {
        font-size: 25px;
      }
      @include tablet {
        font-size: 25px;
      }
    }
  }
  .build-section-gem-left {
    @include mobile {
      width: 30%;
    }
    .build-section__item {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .build-section__item_button {
      width: 30%;
      img {
        width: 100%;
        @include mobile {
          width: 30px;
        }
      }
    }
  }
  .build-section-left {
    @include mobile {
      width: 30%;
    }
    display: flex;
    align-items: center;
    .build-section__item {
      display: flex;
      flex-direction: row;
      align-items: center;
      .build-section__item__free-to-earn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
          width: 50%;
          @include mobile {
            width: 30px;
          }
        }
        p {
          color: white;
          font-size: 30px;
          font-weight: bold;
          text-align: center;
          @include mobile {
            font-size: 15px;
          }
        }
      }
      .build-section__item__li {
        color: white;
        font-size: 25px;
        font-weight: 300;
        text-align: left;
        @include mobile {
          font-size: 10px;
        }
        li {
          padding: 5px 0;
        }
      }
      .build-section__item_button {
        width: 30%;
        img {
          width: 100%;
          @include mobile {
            width: 30px;
          }
        }
      }
    }
  }
  .build-section-right {
    @include mobile {
      width: 30%;
    }
    .build-section__item {
      @include mobile {
        width: 100%;
      }
      display: flex;
      flex-direction: row;
      align-items: center;
      .build-section__item__free-to-earn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        img {
          width: 30%;
          @include mobile {
            width: 30px;
          }
        }
        p {
          padding-left: 20px;
          color: white;
          font-size: 25px;
          font-weight: 300;
          text-align: center;
          @include mobile {
            font-size: 15px;
          }
        }
      }
      .build-section__item_button {
        width: 30%;
        img {
          width: 100%;
          @include mobile {
            width: 30px;
          }
        }
      }
    }
  }
  //
  .build-section__item__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      width: 50%;
    }
    p {
      color: white;
      font-size: 25px;
      font-weight: bold;
      text-align: center;
      @include mobile {
        font-size: 15px;
        font-weight: 300;
      }
    }
  }
  .build-section__item__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    img {
      @include mobile {
        width: 30px;
      }
      width: 30%;
    }
    p {
      padding: 0 20px;
      color: white;
      font-size: 25px;
      font-weight: 300;
      text-align: center;
      @include mobile {
        font-size: 15px;
      }
    }
  }
}
//
.section-roadmap {
  background-image: url("/static/assets/img/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
  @include mobile {
    padding-bottom: 5px;
  }
  @include tablet {
    padding-bottom: 5px;
  }
  .section-roadmap-container {
    margin-top: 10rem;
    @include mobile {
      margin-top: 5rem;
    }
    @include tablet {
      margin-top: 5rem;
    }
  }
  .section-roadmap-phase-2 {
    max-width: 1500px;
    height: 220px;
    margin: 0 auto;
    @include mobile {
      height: 90px;
    }
    @include tablet {
      height: 90px;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  .section-roadmap-phase-1 {
    .section-roadmap__item {
      margin-left: -225px;
      @include mobile {
        margin-left: 0 !important;
      }
      @include tablet {
        margin-left: 0 !important;
      }
    }
  }
  .section-roadmap-phase-3,
  .section-roadmap-phase-1 {
    @include mobile {
      width: 100%;
    }
    @include tablet {
      width: 100%;
    }
    margin: 0 auto;
    max-width: 1920px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
  }

  .section-roadmap__item-frames {
    h3 {
      //
      background-image: url("/static/assets/img/roadmap/banner-frames.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      text-align: center;
      padding: 30px;
      font-family: TitleFont;
      color: $YELLOW-COLOR;
      font-size: 40px;
      font-weight: bold;
      @include mobile {
        font-size: 10px;
      }
      @include tablet {
        font-size: 10px;
      }
    }
  }
  p {
    color: white;
    font-size: 30px;
    @include mobile {
      font-size: 10px;
    }
    @include tablet {
      font-size: 15px;
    }
  }
}
// Section New
.section-new {
  background-image: url("/static/assets/img/bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1920px;
  margin: 0 auto;
  @include middle {
    min-height: 1700px;
  }
  @include tablet {
    min-height: 1200px;
    background-size: 0;
  }
  @include mobile {
    min-height: auto;
  }
  .hh-new-container {
    .hh-new-list {
      margin: 50px;
      height: 100vh;
      overflow-y: scroll;
      @include overload {
        height: 1045px;
      }
      @include middle {
        height: 600px;
      }
      @include tablet {
        margin: 30px;
        height: 610px;
      }
      @include mobile {
        margin: 20px;
        height: 365px;
      }
    }
    .hh-new-list::-webkit-scrollbar-track {
      background-size: cover;
    }

    .hh-new-list::-webkit-scrollbar {
      width: 30px;
      background-image: url("/static/assets/img/scroll-news.png");
      background-size: cover;
      background-position: center;
      @include middle {
        background-size: contain;
        background-repeat: no-repeat;
      }
      @include mobile {
        width: 15px;
        background-size: cover;
      }
    }

    .hh-new-list::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-image: url("/static/assets/img/scroll-icon-news.png");
      background-size: 30px 100vh;
      background-repeat: no-repeat;
      @include middle {
        background-size: 30px 100%;
      }
      @include tablet {
        background-size: 30px 100%;
      }
      @include mobile {
        background-size: 15px 100%;
      }
    }
    // SAFARI SCROLL BAR
    .hh-new-list::-webkit-scrollbar-button {
      border-radius: 10px;
      background-image: url("/static/assets/img/scroll-icon-news.png");
      background-size: 30px 100vh;
      background-repeat: no-repeat;
      @include middle {
        background-size: 30px 100%;
      }
      @include tablet {
        background-size: 30px 100%;
      }
      @include mobile {
        background-size: 15px 100%;
      }
    }
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 1000px;
    margin: 0 auto;
    background-size: 1000px;
    background-position: top;
    background-repeat: no-repeat;
    background-image: url("/static/assets/img/news/frames.png");
    @include middle {
      width: 850px;
      background-size: 850px 100%;
    }
    @include tablet {
      width: 650px;
      background-size: 650px 100%;
    }
    @include mobile {
      width: 300px;
      background-size: 300px 100%;
    }
  }
  .hh-new__item {
    width: 800px;
    margin: auto;
    padding: 0 15px;
    display: flex;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/static/assets/img/news/item.png");
    @include middle {
      padding-left: 8px;
      width: 500px;
      height: 100px;
      background-size: 500px 100px;
    }
    @include tablet {
      padding-left: 8px;
      width: 500px;
      background-size: cover;
      height: 100px;
    }
    @include mobile {
      padding-left: 7px;
      width: 240px;
      background-size: 240px 80px;
      height: 65px ;
    }
    .hh-new__item_thumbnail {
      img {
        width: 200px;
        @include middle {
          width: 125px;
        }
        @include tablet {
          width: 125px;
        }
        @include mobile {
          width: 60px;
        }
      }
    }
  }
  .hh-new__item_title {
    h4,
    p {
      color: black;
    }
    h4 {
      font-size: 50px;
      @include middle {
        font-size: 30px;
      }
      @include tablet {
        font-size: 30px;
      }
      @include mobile {
        font-size: 15px;
      }
    }
    p {
      font-size: 45px;
      @include middle {
        font-size: 25px;
      }
      @include tablet {
        font-size: 25px;
      }
      @include mobile {
        font-size: 20px;
      }
    }
  }
}
// Section ABOUT US
.section-about-container {
  max-width: 1920px;
  margin: 0 auto;
  .section-about-introduction,
  .section-about-mission,
  .section-about-aboutus {
    background-image: url("/static/assets/img/bg.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
  }
  .section-about-tokenomic {
    padding: 20px;
    width: 80%;
    margin: 0 auto;
  }

  h3 {
    font-family: TitleFont;
    font-size: 50px;
    color: $YELLOW-COLOR;
    padding: 30px 0;
    @include mobile {
      font-size: 25px;
    }
    @include tablet {
      font-size: 25px;
    }
  }
  h4 {
    font-family: TitleFont;
    font-size: 30px;
    color: white;
    padding: 15px 0;
    @include mobile {
      font-size: 20px;
    }
    @include tablet {
      font-size: 20px;
    }
  }
  ul li {
    line-height: 1.3;
    font-family: ContentFont;
    color: white;
    font-size: 25px;
    @include mobile {
      font-size: 20px;
    }
    @include tablet {
      font-size: 20px;
    }
  }
  p {
    color: white;
    font-size: 25px;
  }
  .section-about-mission,
  .section-about-aboutus {
    width: 80%;
    display: flex;
    flex-direction: row;
    @include mobile {
      flex-direction: column;
    }
    @include tablet {
      flex-direction: column;
    }
  }
  .section-about-mission {
    p,
    h3 {
      padding-left: 30px !important;
      padding: 0;
      @include mobile {
        padding-left: 0 !important;
      }
      @include tablet {
        padding-left: 0 !important;
      }
    }
  }
  .section-about-aboutus {
    .section-about-misstion__image {
      height: 900px;
      @include mobile {
        height: 300px;
      }
      @include tablet {
        height: 300px;
      }
    }
  }
  .section-about-misstion__title {
    width: 50%;
    @include mobile {
      width: 100%;
    }
    @include tablet {
      width: 100%;
    }
  }
  .section-about-misstion__image {
    width: 50%;
    height: 700px;
    background: white;
    @include mobile {
      width: 100%;
      height: 300px;
    }
    @include tablet {
      width: 100%;
      height: 300px;
    }
  }
}
// white paper
.whitepaper-container {
  position: relative;
  .whitepaper-section {
    @include overload{
      max-width: 1520px;
    }
    max-width: 1920px;
    width: 85%;
    margin: auto;
    position: absolute;
    top: 40%;
    right: 0;
    left: 0;
    .white-paper-item {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}
