.header {
  height: 660px;
  background-image: url("/static/assets/img/bg-header.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.fix-size {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header::after {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  content: "";
  background-image: url("/static/assets/img/before-section.png");
  background-size: contain;
  background-repeat: unset;
  z-index: 0;
}
.logo img {
  margin: 0 auto;
  height: 120px;
}
// 
.btn-play {
  margin: 0 auto;
  position: absolute;
  bottom: 5%;
  z-index: 1;
}
.btn-play img {
  height: 150px;
}