.navbar {
  top: 25px;
  width: 593px;
  height: 120px;
}
.home-title {
  background-image: url("/static/assets/img/Button-frames/button-home.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 90px;
  width: 138px;
  margin: 0 auto;
  display: flex !important;
  align-items: center;
  justify-content: center;
  @include mobile {
    height: 60px;
    width: 92px;
  }
  @include tablet {
    height: 60px;
    width: 92px;
  }
}
.whitepaper-title {
  background-image: url("/static/assets/img/Button-frames/button-whitepaper.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 90px;
  width: 170px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  @include mobile {
    height: 60px;
    width: auto;
  }
  @include tablet {
    height: 60px;
    width: auto;
  }
}
.news-title {
  background-image: url("/static/assets/img/Button-frames/button-news.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 115px;
  height: 90px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  @include mobile {
    height: 60px;
    width: auto;
  }
  @include tablet {
    height: 60px;
    width: auto;
  }
}
.contact-title {
  background-image: url("/static/assets/img/Button-frames/button-contact.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 90px;
  width: 173px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  @include mobile {
    height: 60px;
    width: 109px;
  }
  @include tablet {
    height: 60px;
    width: 109px;
  }
}
.navbar {
  @include mobile {
    width: 100%;
    top: 0;
    justify-content: center;
  }
  @include tablet {
    width: 100%;
    top: 0;
    justify-content: center;
  }
}
.navbar ul {
  .active {
    font-weight: 300 !important;
  }
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
.nav ul li {
  padding: 0 20px !important;
  font-family: TitleFont;
}
.navbar ul li a {
  font-size: 32px;
  color: $YELLOW-COLOR !important;
  text-transform: uppercase;
  font-family: TitleFont;
  margin-left: -2px;
  @include mobile {
    font-size: 19px;
  }
  @include tablet {
    font-size: 19px;
  }
}
