.section-right {
  text-transform: uppercase;
}

.section-news {
  background-image: url("/static/assets/img/bg.png");
  background-position: center;
  background-size: 1920px;
  background-repeat: no-repeat;
  padding-top: 30px;
  margin: 0 auto;
  display: flex;
  @include mobile {
    background-size: cover;
  }
  @include tablet {
    background-size: cover;
  }
  @include middle {
    background-size: cover;
  }
  @include overload {
    height: 100vh;
    align-items: center;
    background-size: cover;
  }
}
.section-left {
  .col {
    @include mobile {
      display: flex;
      justify-content: center;
    }
    @include tablet {
      display: flex;
      justify-content: center;
    }
  }
}
.section-img-video-demo,
.section-img-slg-1,
.section-img-slg-2 {
  margin: 0 auto;
}
.section-img-video-demo {
  padding-bottom: 5rem;
  width: 730px;
  height: 467px;
  @include mobile {
    padding-bottom: 1rem;
    width: 100%;
    height: auto;
  }
  @include tablet {
    padding-bottom: 1rem;
    width: 100%;
    height: auto;
  }
}
.section-img-video-demo video {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  margin: 0 auto;
}
.banner-1,
.banner-2 {
  display: flex;
  justify-content: center;
}
.banner-1 img,
.banner-2 img {
  @include mobile {
    width: 100%;
    height: 200px;
  }
  @include tablet {
    height: 200px;
  }
  height: 320px;
  align-items: center;
}
.btn-car button,
.btn-map button,
.btn-character button {
  color: $YELLOW-COLOR;
  font-size: 35px;
  font-weight: bold;
  width: 160px;
  height: 100px;
  border: none;
  text-shadow: $SHADOW;
}
.btn-car button {
  background: url("/static/assets/img/Button-frames/btn-dua-xe.png") no-repeat;
  background-size: contain;
}
.btn-map button {
  background: url("/static/assets/img/Button-frames/btn-frames-map.png")
    no-repeat;
  background-size: contain;
}
.btn-character button {
  background: url("/static/assets/img/Button-frames/btn-frames-map.png")
    no-repeat;
  background-size: contain;
}
.btn-special button {
  color: $YELLOW-COLOR;
  font-size: 35px;
  font-weight: bold;
  width: 100%;
  height: 120px;
  border: none;
  position: absolute;
  left: 0;
  background: none;
  bottom: 11px;
  text-shadow: $SHADOW;
}
.btn-special img {
  width: 100%;
  height: 120px;
}

.section-title-button {
  @include middle {
    width: 50%;
  }
  @include tablet {
    width: 70%;
  }
  @include mobile {
    width: 100%;
  }
  position: relative;
  margin: 0 auto;
  .section-title-button__frames {
    @include mobile {
      background-position: top;
    }
    margin-top: -15px;
    width: 100%;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/static/assets/img/frames-source.png");
    position: relative;
    .section-title-button__frames_inner {
      position: absolute;
      top: 10px;
      left: 40px ;
      right: 30px ;
      @include tablet {
        top: 40px;
        left: -10px;
        right: -20px;
      }
      @include mobile {
        top: 2-0px;
      }
    }
  }
}
.section-title-button ul li {
  list-style: none;
}
.active {
  border: none !important;
  background: none !important;
  color: $YELLOW-COLOR !important;
  font-weight: 300;
}
.section-title-banner {
  margin-bottom: 35px;
}
.section-title-button a {
  color: $YELLOW-SENCOND-COLOR;
  font-size: 35px;
}
.section-title-button h3 {
  @include tablet {
    font-size: 30px;
  }
  @include mobile {
    font-size: 25px;
    background-size: 180px;
  }
  color: $YELLOW-SENCOND-COLOR;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 260px;
  height: 81px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/static/assets/img/header-source.png");
}
.section-game-mode .nav-tabs {
  border: none;
  @include mobile {
    margin-top: -35px;
    flex-wrap: nowrap;
  }
}
.section-title-button .section-game-mode a {
  text-shadow: $SHADOW;
}
.section-title-button .section-game-mode a:hover {
  color: $YELLOW-SENCOND-COLOR;
  border: none;
  font-weight: bold;
}
.section-title-button .section-list-source a {
  color: black;
  font-weight: bold;
  font-size: 35px;
}
.section-title-button .section-list-source a:hover {
  color: black;
  text-decoration: none;
  border: none;
}
.section-title-button nav {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.section-game-mode {
  display: flex;
  justify-content: center;
  a {
    @include tablet {
      font-size: 30px;
    }
    @include mobile {
      font-size: 27px !important;
    }
  }
}
.section-list-source {
  display: flex;
  margin: 0 10%;
  .scrollbar {
    width: 100%;
    height: 157px;
    overflow-y: scroll;
    @include mobile {
      height: 77px;
    }
  }
  #scroll-bar-source::-webkit-scrollbar-track {
    background-size: auto;
  }

  #scroll-bar-source::-webkit-scrollbar {
    width: 40px;
    background-image: url("/static/assets/img/scroll.png");
    background-size: cover;
    background-position: center;
    @include mobile {
      width: 15px;
      background-size: cover;
    }
  }

  #scroll-bar-source::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: url("/static/assets/img/scroll-icon.png");
    background-size: cover;
    background-repeat: no-repeat;
    @include mobile {
      background-size: 15px 100%;
    }
  }
  ul {
    width: 100%;
    background-size: cover;
    @include middle {
    }

    .rank_1 {
      background-image: url("/static/assets/img/rank_1.png");
      background-repeat: no-repeat;
      @include mobile {
        background-size: contain;
      }
    }
    .rank_2 {
      background-image: url("/static/assets/img/rank_2.png");
      background-repeat: no-repeat;
      @include mobile {
        background-size: contain;
      }
    }
    .rank_3 {
      background-image: url("/static/assets/img/rank_3.png");
      background-repeat: no-repeat;
      @include mobile {
        background-size: contain;
      }
    }
  }
  ul li {
    padding: 3px 0;
    @include mobile {
      padding: 0 !important;
    }
    @include tablet {
      padding: 11px 0;
    }
  }
  a {
    color: black;
    line-height: 1.3;
    margin: 0 15%;
    @include tablet {
      font-size: 25px !important;
    }
    @include mobile {
      font-size: 24px !important;
    }
  }
}
