@font-face {
  font-family: TitleFont;
  src: url("/static/assets/font/9Slide07SVN-Hogfish.ttf");
}
@font-face {
  font-family: ContentFont;
  src: url("/static/assets/font/9Slide07IcielAltus.ttf");
}
//
$main-color: rgba(32, 168, 216, 1);
$progress-color: blue;
$white-color: #fff;
$primary-color: #c0eaf5;
$PRIMAMY-COLOR: #20113a;
$YELLOW-COLOR: #ffc943;
$YELLOW-SENCOND-COLOR: #efd4b9;
/*  */
$SHADOW: 4px 3px #22183a;
//
$fz20: 20px;
$fz16: 16px;
$fz35: 35px;
